# =========================

# ENVIRONMENT

# =========================

.env
.env.*
env

# =========================

# DEPENDENCIES

# =========================

vendor/

# =========================

# CACHE & LOGS

# =========================

writable/cache/*
writable/logs/*
writable/session/*
writable/uploads/*

!writable/cache/index.html
!writable/logs/index.html
!writable/session/index.html
!writable/uploads/index.html

# =========================

# SYSTEM FILES

# =========================

.DS_Store
Thumbs.db

# =========================

# IDE

# =========================

.vscode/
.idea/

# =========================

# NODE

# =========================

node_modules/

# =========================

# BUILD FILES

# =========================

dist/
build/
coverage/
